<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.safecar">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/carlogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".About"></activity>
        <activity android:name=".bookeddrivers" />
        <activity android:name=".deldbook" />
        <activity android:name=".delcbook" />
        <activity android:name=".bookedcars" />
        <activity android:name=".udstaus" />
        <activity android:name=".ucstatus" />
        <activity android:name=".rating_driver" />
        <activity android:name=".Rating" />
        <activity android:name=".notifdriview" />
        <activity android:name=".notifview" />
        <activity android:name=".confirmdriver" />
        <activity android:name=".confirmcar" />
        <activity android:name=".Carview2" />
        <activity android:name=".griddriveritem" />
        <activity android:name=".Driverview2" />
        <activity android:name=".Gridselecteditem" />
        <activity android:name=".DriverView" />
        <activity android:name=".CarView" />
        <activity android:name=".Updatedriver" />
        <activity android:name=".Updatecar" />
        <activity android:name=".Adddriver" />
        <activity android:name=".Addcar" />
        <activity android:name=".Home" />
        <activity android:name=".registration" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>